body {
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent),
        radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* a {
    position: absolute;
    bottom: 2vmin;
    right: 2vmin;
    color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
} */


#slogan {
    margin-top: 34vh;
}

.text {
    text-shadow: 3px 3px 6px #000000;
}

#me {
    text-shadow: 6px 6px 12px #000000;
}

@keyframes scaleIn {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.15;
    }
}

@keyframes scaleInSocial {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.30;
    }
}

@keyframes popup {
    from {
        transform: scale(1.0);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.0);
    }

    to {
        transform: scale(1.15);
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
    }
}

.nav-item:hover {
    animation: scaleIn 0.5s ease-in-out forwards;
}

.carousel:hover,
#me:hover {
    animation: scaleIn 1s ease-in-out forwards;
    animation: popup 0.2s ease-in-out forwards;
}

.mysocial:hover {
    animation: scaleInSocial 0.5s ease-in-out forwards;
}

.projects {
    margin-top: 12vh;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    font-size: 25px;
}

.navbar-toggler {
    border-color: rgb(255, 255, 255, 0);
    color: rgb(255, 255, 255, 0);
}

.icons {
    font-size: 30px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

.social-icons {
    font-size: 75px;
}

#foot {
    margin-top: 25%;
}

.carousel-cell {
    width: 100%;
    height: 650px;
    margin-right: 25px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell:before {
    display: inline-block;
    text-align: center;
    content: counter(gallery-cell);
    font-size: 0px;
}


@media only screen and (max-width: 600px) {
    @keyframes scaleInMob {
        0% {
            scale: 1;
        }

        100% {
            scale: 1.07;
        }
    }

    .nav-item:hover {
        animation: scaleInMob 0.5s ease-in-out forwards;
    }

    #me {
        width: 250px;
        height: 275px;
    }

    .aboutmetext {
        font-size: 10px;
    }

    .introductiontext {
        font-size: 13px;
    }

    .workicons,
    .icons {
        font-size: 12px;
    }

    .carousel-cell {
        width: 100%;
        height: 550px;
        margin-right: 5px;
        background: #8C8;
        border-radius: 5px;
        counter-increment: gallery-cell;
    }

    .projects {
        margin-top: 9vh;
        font-size: 17px;
    }

    .mysocial {
        font-size: 15px;
    }

}